[manifest]
version = "1.0.0"
priority = 0

#
# Adds the ability to custom tag sizes from centers
#

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = "_size = _size or 0.8"
position = "at"
payload = '''local _sizeX = (G.P_TAGS[self.key].width and G.P_TAGS[self.key].width/34 * (_size or 1) * 0.6) or _size or 0.8
local _sizeY = (G.P_TAGS[self.key].height and G.P_TAGS[self.key].height/34 * (_size or 1) * 0.6) or _size or 0.8'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = '''local tag_sprite = SMODS.create_sprite(0, 0, _size*1, _size*1, SMODS.get_atlas((not self.hide_ability) and G.P_TAGS[self.key].atlas or "tags"), (self.hide_ability) and G.tag_undiscovered.pos or self.pos)'''
position = "at"
payload = '''local tag_sprite = SMODS.create_sprite(0, 0, _sizeX*1, _sizeX*1, SMODS.get_atlas((not self.hide_ability) and G.P_TAGS[self.key].atlas or "tags"), (self.hide_ability) and G.tag_undiscovered.pos or self.pos)'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "tag.lua"
pattern = '{n=G.UIT.O, config={w=_size*1,h=_size*1, colour = G.C.BLUE, object = tag_sprite, focus_with_object = true}},'
position = "at"
payload = '{n=G.UIT.O, config={w=_sizeX*1,h=_sizeY*1, colour = G.C.BLUE, object = tag_sprite, focus_with_object = true}},'
match_indent = true
times = 1