[manifest]
version = "1.0.0"
priority = 0

#
# Adds music pack sound selection
#


# save_run()
[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = '''function modulate_sound(dt)'''
position = "after"
payload = '''local music_pack = ArrowAPI.MusicPacks[ArrowAPI.CURRENT_MUSIC]'''
match_indent = true
times = 1

# save_run()
[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = '''(G.booster_pack_sparkles and not G.booster_pack_sparkles.REMOVED and 'music2') or
(G.booster_pack_meteors and not G.booster_pack_meteors.REMOVED and 'music3') or
(G.booster_pack and not G.booster_pack.REMOVED and 'music2') or
(G.shop and not G.shop.REMOVED and 'music4') or
(G.GAME.blind and G.GAME.blind:get_type() == 'Boss' and 'music5') or
('music1')'''
position = "before"
payload = '''(G.booster_pack_sparkles and not G.booster_pack_sparkles.REMOVED and music_pack.sounds.key[2]) or
(G.booster_pack_meteors and not G.booster_pack_meteors.REMOVED and music_pack.sounds.key[3]) or
(G.booster_pack and not G.booster_pack.REMOVED and music_pack.sounds.key[2]) or
(G.shop and not G.shop.REMOVED and ArrowAPI.CURRENT_MUSIC..'4') or
(G.GAME.blind and G.GAME.blind:get_type() == 'Boss' and music_pack.sounds.key[5]) or
(music_pack.sounds.key[1])'''
match_indent = true
times = 1

